.demoContainer:hover .blueBlock {
    bottom: 0;
    height: 75%;
}

.icon:hover{
    background-color: rgb(216, 216, 216);
    color: rgb(5, 73, 119);
}

.mainButton:hover{
    background-color: white;
    color: #004395;
}
.topBarItem:hover{
    color: gold;
}

.galleryTitle:hover{
    color: #F9C322;
    transition: 0.3s; 
    cursor: pointer;
}

.galleryLink:hover{
    color: black;
    transition: 0.5s;
}
.footerContent:hover{
    color:#F9C322;
}