html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#blog{
    width: 100%;
    height: 125%;
    background-color: white;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2F4395;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: rgb(88, 88, 88);
}
#galleryHolder{
    margin: 50px auto;
    width: 78%;
    height: 50%;
    display: flex;
}

.galleryContainer{
    height: 100%;
    width: 31%;
    margin: auto;
}

.galleryImg{
    height: 60%;
    width: 100%;
    background-image: url("../img/house.jpg");
    background-size: cover;
}
.galleryNumber{
    position: absolute;
    z-index: 2;
    background-color: #F9C322;
    height: 42px;
    width: 42px;
    display: flex;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: midnightblue;
    align-items: center;
    justify-content: center;
    margin-top: 145px;
    margin-left: -20px;
}
.galleryMonth{
    position: absolute;
    z-index: 2;
    background-color: #F9C322;
    height: 32px;
    width: 42px;
    display: flex;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: midnightblue;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
    margin-left: -20px;
}

.galleryText{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F9FD;
    font-size: 14px;
}
.galleryTitle{
    margin-top: 10%;
    align-self: center;
    width: 90%;
    font-size: 16px;
}
.galleryContent{
    font-size: 14px;
    width: 90%;
    align-self: center;
    margin-top: 10%;
    line-height: 20px;
}
.galleryLink{
    width: 90%;
    margin-top: 10%;
    align-self: center;
    text-decoration: none;
    color: #F9C322;
}
#happyClients{
    width: 100%;
    height: 60%;
}
#opinions{
    margin: 50px auto;
    width: 85%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.opinionItem{
    width: 20%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}
.blueText{
    color: #2F4395;
    font-weight: 800;
}
.hrOP{
    width: 50%;
}
.opinionIcon{
    font-size: 40px;
    color: lightgrey;
}

#logos{
    height: 25%;
    width: 70%;
    display: flex;
    margin: 0 auto;
}
#logosContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logoImg{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.icon-visa{
    font-size: 80px;
}

.icon-visa:hover{
    color:#2F4395;
}

#map{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 70%;
    margin: auto;
}

#googleMap{
    height: 100%;
    width: 100%;
}

#containerContact{
   width: 70%;
   height: 50%;
   color: white;
   position: absolute;
   z-index: 2;
   display: flex;
   flex-direction: row;
}


#contactInfo1{
    margin-left:0;
    width: 33.3%;
    height: 100%;
    background-color:#004395d7;
}
#contactInfo2{
    margin-left: 33.3%;
    width: 33.3%;
    height: 100%;
    background-color:#004395d7;
} 

#contactLogo{
    padding-top: 50px;
    height: 30px;
    width: 100px;
    background-image: url('../img/logo1.png');
    background-size: cover;
    margin: auto;
    background-position: center;
    background-color: white;
}
.space{
    height: 40px;
    width: 100;
}

#infoText{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    line-height: 25px;
    font-size: 12px;
}
#contactForm{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#emailInput{
    border-color: white;
    background-color: transparent;
    height: 30px;
    width: 270px;
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left:10px;
}

.contactItem{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#contactTitle{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    font-weight:800;
}

#contactData{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contactItem{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

.contactIcon{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contactItemText{
    height: 100%;
    width: 79%;
    font-size: 0.8vw;
}
#footer{
    margin-top: 0;
    background-color: #004395;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.footerContent{
    margin-left: 5px;
}