html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: black;
}
#lobby{
    height: 90%;
    width: 100%;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.mainTextContainer{
    width: 100%;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}
#mainTitle{
    color: white;
    font-size: 42px;
    letter-spacing: 5px;
}
#mainSubtitle{
    color:#F9C322;
}
.subtitleElement{
    margin: 5px;
}

#buttonHolder{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6%;
    flex-direction: row;
}
.mainButton{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #004395;
    margin: 10px;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats{
    height: 50%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.statsBlock{
    height: 50%;
    width: 18%;
    background-color: sandybrown;
    margin: 1%;
    border-radius: 2%;
    box-shadow: 0.1px 0.1px 20px #777777c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
}
#sBlock1{
    background-color: #FF6B57;
}
#sBlock2{
    background-color: #9B59B6;
}
#sBlock3{
    background-color: #41C3AC;
}
#sBlock4{
    background-color: #3498DB;
}
.statsNumber{
    font-size: 54px;
}
#demoChooser{
    height: 150%;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#demoTitle{
    display: flex;
    color:#464657;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    padding-top: 5%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}
#demoHR{
    width: 10%;
    color: #5e5e64;
}
#demoDisplay{
    width: 90%;
    height: 80%;
    color: #464657;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.demoContainer{
    background-color: white;
    height: 38%;
    width: 26%;
    margin: 2%;
    box-shadow: 0.1px 0.1px 20px #777777c0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.demoImg{
    width: 100%;
    height: 75%;
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
}

.demoText{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.blueBlock{
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    background-color: #004395b6;
    overflow: hidden;
    transition: .5s ease;
}

.textLive{
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}
#footer{
    height: 100%;
    width: 100%;
    background-color: white;
}

#footerTitle{
    display: flex;
    color:#464657;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    justify-content: center;
    padding-top: 5%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
#footerSubtitle{
    display: flex;
    color:#464657;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding-top: 5px;
    font-size: 14px;
    padding-bottom: 5px;
}
#footerHR{
    width: 5%;
    color: #5e5e64e7;
}
#info{
    width: 100%;
    height: 60%;
}
#infoText{
    padding-top: 3%;
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: center;
}
.colInfo{
    width: 26%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-transform: uppercase;
}

#logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
}
#logoFooter{
    display: block;
    height: 150px;
    width: 160px;
}
#socialMedia{
    height: 20%;
    width: 30%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin: 8px;
    border-radius: 50%;
}
#copyrights{
    position: relative;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

@media screen and (max-width: 987px) {
    #lobby{
        height: 60%;
    }
    #mainTitle{
        font-size: 18px;
    }
    #mainSubtitle{
        margin-top: 25px;
        padding-top: 20px;
        align-content: center;
        height:10%;
        width: 80%;
        flex-wrap: wrap;
        font-size: 14px;
    }
    .mainButton{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        margin: 10px;
        margin-top: 50px;
        width: 28%;
        height: 100%;
    }
    #stats{
        height: 120%;
        width:  100%;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .statsBlock{
        width: 80%;
    }
    #demoChooser{
        height: 400%;
        width: 100%;
    }
    #demoTitle{
        padding-top: 5%;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 2px;
    }
    #demoDisplay{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        height: 100%;
    }
    .demoContainer{
        width: 80%;
        height: 55%;
    }
    #footerSubtitle{
        text-align: center;
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
    #infoText{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 5px;
    }
    .colInfo{
        width: 100%;
    }
    #footer{
        height: 150%;
    }
    #logos{
        margin-top: 0px;
    }
    #copyrights{
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        font-size: 12px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1025px) {
    #lobby{
        height: 60%;
    }
    #mainTitle{
        font-size: 26px;
    }
    #mainSubtitle{
        margin-top: 25px;
        padding-top: 20px;
        align-content: center;
        height:10%;
        width: 80%;
        flex-wrap: wrap;
        font-size: 20px;
    }
    .mainButton{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        margin: 5px;
        margin-top: 50px;
        width: 30%;
        height: 100%;
    }
    #stats{
        height: 80%;
        width:  100%;
        padding-bottom: 30px;
        padding-top: 30px;
        flex-wrap: wrap;
    }
    .statsBlock{
        width: 35%;
        height: 35%;
    }
    #demoChooser{
        height: 120%;
        width: 100%;
    }
    #demoTitle{
        padding-top: 5%;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 2px;
    }
    #demoDisplay{
        flex-wrap: wrap;
    }
    .demoContainer{
        width: 30%;
        height: 30%;
    }
    #footerSubtitle{
        text-align: center;
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
    #info{
        height: 50%;
    }
    #infoText{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .colInfo{
        width: 30%;
    }
    #footer{
        height: 150%;
    }
    #logos{
        margin-top: 0px;
    }
    #copyrights{
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        font-size: 12px;
        flex-direction: column;
    }
}